{% extends 'layout.html' %}
{% block content %}
<div class="w-100 h-100 border border-dark d-flex" ondrop="drop(event)" ondragover="allowDrop(event)">
    <div id="move" class="col-3 h-25 p-0" draggable="true" ondragstart="drag(event)">
        <div class="card border border-dark" >
            <div class="card-header bg-primary border-bottom border-dark d-flex justify-content-center text-white">
                <h5 class="">{{title}}</h5>
            </div>
            <div class="card-body">
                <form method="POST" class="d-flex justify-content-center flex-column">
                    {{form.hidden_tag()}}
                    {% for input in constructor.items()%}
                        {% set attribute = input[0] %}

                        {%if attribute == 'submit'%}
                            <div class="form-group d-flex justify-content-center">
                                {{ form.__getattribute__(attribute)(class="btn btn-outline-primary ") }}
                            </div>
                        {% elif attribute == 'csrf_token' %}
                            {{form.csrf_token}}
                        {% elif attribute == 'list_options' %}
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                Launch demo modal
                            </button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content d-flex flex-wrap">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">Selector de {{form.__getattribute__(attribute).label}}</h5>
                                      <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">X</button>
                                    </div>
                                    <div class="modal-body flex-column justify-content-left">
                                        
                                        <ul id="permisos">

                                            {%for fieldList in form.__getattribute__(attribute)%}
                                                <li>
                                                    {%set laid = fieldList.data | int %}
                                                    {%set ns = namespace(checkeado=false)%}
                                                    {% for id in ids %} 
                                                    
                                                        {% if laid == id %}
                                                            {% set ns.checkeado = True%}
                                                        {%endif%}
                                                    {%endfor%}
                                                    {% if ns.checkeado == True %}
                                                        {{fieldList.label}} {{fieldList(checked="True")}}
                                                    {%else%}
                                                        {{fieldList.label}} {{fieldList}}
                                                    {%endif%}
                                                </li>
                                            {%endfor%}
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-primary" data-dismiss="modal">{{_('Guardar cambios')}}</button>
                                    </div>
                                  </div>
                                </div>
                              </div>   
                        {%else%}
                            <div class="form-group row">
                                {{form.__getattribute__(attribute).label(class="col-sm-5 col-form-label")}}
                                {% if form.__getattribute__(attribute).errors %}
                                <div class="invalid_feedback">
                                    {% for error in form.__getattribute__(attribute).errors%}
                                    <span>{{error}}</span>
                                    {%endfor%}
                                </div>
                                {%else%}
                                <div class="col-sm-7">
                                    {{form.__getattribute__(attribute)(class="form-control pr-0")}}
                                </div>
                                {%endif%}
                                
                            </div>
                        {%endif%}
                    {%endfor%}
                </form>
            </div>

        </div>
    </div>
</div>

{% endblock content %}

{%block scripts%}
    <script>
        let selectores = document.querySelectorAll('.nice')
        selectores.forEach(option =>{
            option.addEventListener('click',ev => {
                console.log('ey')
                console.log(ev)
                ev.target.selected = 'selected'
            })
        })
    </script>
{%endblock scripts%}