<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/flags/flags16.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>

    <nav class="navbar navbar-expand navbar-dark bg-primary">
        <a href="#" class="navbar-brand">Back Office</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="{{url_for('main.home')}}" class="nav-link">{{_('Inicio')}}</a>
                </li>
                {% if not current_user.is_authenticated %}
                <li class="nav-item">
                    <a href="{{url_for('auth.login')}}" class="nav-link">{{_('Contectate')}}</a>
                </li>
                {%else%}
                <li class="nav-item">
                    <a href="{{url_for('auth.logout')}}" class="nav-link">{{_('Descontectate')}}</a>
                </li>
                {%endif%}

                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown">{{_('Mantenimiento')}}</a>
                    
                        <ul class="dropdown-menu bg-primary">

                            <li class="dropdown-item">
                                <a href="{{url_for('managment.v_permiso')}}" class="nav-link">{{_('Ver Permisos')}}</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="{{url_for('managment.v_rol')}}" class="nav-link">{{_('Ver Rol')}} </a>
                            </li>
                            <li class="dropdown-item">
                                <a href="{{url_for('managment.v_usuario')}}" class="nav-link">{{_('Ver Usuario')}}</a>
                            </li>
                        </ul>
                    
                </li>

            </ul>
        </div>
        <ul class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
              <div class="f16"><i class="flag {{lang.locale.get('flag')}}"></i><b class="caret"></b>
              </div>
            </a>
            <ul class="dropdown-menu">
                {% for idioma in lang.languages %}
                    <li class="dropdown">
                        {% if idioma != lang.locale %}
                            <a tabindex="-1" href="">
                                <div class="f16"><i class="flag {{lang.languages[idioma].get('flag')}}"></i> - {{lang.languages[idioma].get('name')}}
                                </div>
                            </a>
                        {%else%}
                        <h3> {{idioma}}</h3>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </ul>

    </nav>

    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category,message in messages %}
            <div class="alert alert-{{category}}">
                {{message}}
            </div>

            {%endfor%}
        {% endif %}
    {% endwith %}

    <div class="h-100 w-100">
        {% block content %}
        {% endblock content %}
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{{url_for('static',filename='drag_drop.js')}}"></script>
    {%block scripts%}
    {%endblock scripts%}
</body>
</html>