{% extends 'layout.html' %}
{% block content %}
<div class="w-100 h-100 border border-dark d-flex" ondrop="drop(event)" ondragover="allowDrop(event)">
    <div id="move" class="col-3 h-25 p-0" draggable="true" ondragstart="drag(event)">
        <div class="card border border-dark" >
            <div class="card-header bg-primary border-bottom border-dark d-flex justify-content-center text-white">
                <h5 class="">Acceso</h5>
            </div>
            <div class="card-body">
                <form method="POST" class="d-flex justify-content-center flex-column">
                    <div class="form-group row">
                        {{form.username.label(class="col-sm-5 col-form-label ")}}
                        {% if form.username.errors %}
                        {{ form.username(class="form-control is-invalid")}}
                        <div class="invalid_feedback">
                            {%for error in form.username.errors%}
                            <span> {{error}} </span>
                            {%endfor%}
                        </div>
                        {% else %}
                        <div class="col-sm-7">
                            {{ form.username(class="form-control pr-0") }}
                        </div>
                        {%endif%}
                    </div>
                    <div class="form-group row">
                        {{form.password.label(class="col-sm-5 col-form-label")}}

                        {% if form.password.errors %}
                        {{ form.password(class="form-control is-invalid")}}
                        <div class="invalid_feedback">
                            {%for error in form.password.errors%}
                            <span> {{error}} </span>
                            {%endfor%}
                        </div>
                        {% else %}
                        <div class="col-sm-7">
                            {{ form.password(class="form-control px-1") }}
                        </div>
                        {%endif%}
                    </div>
                    <div class="form-group d-flex justify-content-center">
                        {{ form.submit(class="btn btn-outline-primary ") }}
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

{% endblock content %}

