{% extends 'layout.html' %}
{% block content %}
<div class="w-100 h-100 border border-dark d-flex" ondrop="drop(event)" ondragover="allowDrop(event)">
    <div id="move" class="col-3 h-25 p-0" draggable="true" ondragstart="drag(event)">
        <div class="border border-dark bg-primary text-white" >
            <div class="d-flex justify-content-center border-bottom border-dark my-3">
                <h5 class="">Registrar Rol</h5>
            </div>
            <form method="POST" class="d-flex justify-content-center flex-column">
                <div class="form-group row mx-0 d-flex justify-content-center justify-content-md-between">
                    {{form.nombre.label(class="col-sm-2 col-form-label col-form-label")}}
                    {% if form.nombre.errors %}
                    {{ form.nombre(class="form-control is-invalid")}}
                    <div class="invalid_feedback">
                        {%for error in form.nombre.errors%}
                        <span> {{error}} </span>
                        {%endfor%}
                    </div>
                    {% else %}
                    <div class="col-sm-8 flex-fill">
                        {{ form.nombre(class="form-control pr-0") }}
                    </div>
                    {%endif%}
                </div>
                <div class="form-group row mx-0 d-flex justify-content-around justify-content-md-between">
                    {{form.descripcion.label(class="col-sm-2 col-form-label col-form-label")}}

                    {% if form.descripcion.errors %}
                    {{ form.descripcion(class="form-control is-invalid")}}
                    <div class="invalid_feedback">
                        {%for error in form.descripcion.errors%}
                        <span> {{error}} </span>
                        {%endfor%}
                    </div>
                    {% else %}
                    <div class="col-sm-8 flex-fill">
                        {{ form.descripcion(class="form-control px-1") }}
                    </div>
                    {%endif%}
                </div>
                <div class="form-group row mx-0 d-flex justify-content-around justify-content-md-between">
                    {{form.permisos.label(class="col-sm-2 col-form-label col-form-label")}}

                    {% if form.permisos.errors %}
                    {{ form.permisos(class="form-control is-invalid")}}
                    <div class="invalid_feedback">
                        {%for error in form.permisos.errors%}
                        <span> {{error}} </span>
                        {%endfor%}
                    </div>
                    {% else %}
                    <div class="col-sm-8 flex-fill">
                        {{ form.permisos(class="form-control px-1") }}
                    </div>
                    {%endif%}
                </div>
                <div class="form-group d-flex justify-content-center">
                    {{ form.submit(class="btn btn-outline-light ") }}
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

